body{
    margin: 0;
    background-color: #F2DBAE;
}









header{
    background-color: #331914;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logotexto{
    margin-top: 0;
    align-items: center;
    display: flex;
    justify-content: center;
}
.titulo{
    letter-spacing: 2px;
    font-size: 50px;
    color:#ffffff
}
.HUB{
    border-radius: 10px;
    letter-spacing: 4px;
    background-color: #FFD074;
    color:rgb(0, 0, 0)
}
.Links{
    display: flex;
    margin-right: 40px;
    gap: 20px
}
.Links a{
    margin-left: 10px;        
    text-decoration: none;
    color: #333;
}
.blocoa, .blocoaa , .blocob, .blococ, .blocod{
    height: 100px;
    width: 100px;
    border-radius: 50px;
    background-color: #FFD074;
    align-content: center;
    text-align: center;
}
.blocoaa:hover{
    background-color: #b39352;
    transition: 0.3s;
}.blocob:hover{
    background-color: #b39352;
    transition: 0.3s;
}.blococ:hover{
    background-color: #b39352;
    transition: 0.3s;
}.blocod:hover{
    background-color: #b39352;
    transition: 0.3s;
}
.blocoa{
    background-color: #331914;
    border-color: #FFD074;
    border-style: double;
}
.blocobb{
    background-color: #331914;
    border-color: #FFD074;
    border-style: double;
    height: 100px;
    width: 100px;
    border-radius: 50px;
    align-content: center;
    text-align: center;
}
.blococc{
    background-color: #331914;
    border-color: #FFD074;
    border-style: double;
    height: 100px;
    width: 100px;
    border-radius: 50px;
    align-content: center;
    text-align: center;
}
.blocodd{
    background-color: #331914;
    border-color: #FFD074;
    border-style: double;
    height: 100px;
    width: 100px;
    border-radius: 50px;
    align-content: center;
    text-align: center;
}
.imagem{
    width: 170px;
    height: 170px;
    margin:20px;
    margin-left: 65px;
}


main{
    margin: 20px;
    justify-content: space-between;
}

.conteudo{
    background-color: aliceblue;
}
.titulo_principal{
    background-color: rgb(155, 133, 104);
    font-size: 50px;
    text-align: center;
    margin:0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.subtitulo{
    background-color: aqua;
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
.bloco_texto{
    background-color: brown;
    width: 75%;
    height: 400px;
    border-radius: 30px;
}
.bloco_texto h2{
    font-size: 40px;
    margin: 5px;
    text-align: center;
}
.texto1{
    font-size: 20px;
    margin: 19px 15px 19px 15px ;
    background-color: chocolate;
}

.subtitulo, .bloco_texto{
    margin:0
}


footer{
    background-color: #331914;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
    align-items: center;
}
.nome{
    color:#907725;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    display: flex;
    margin-left: 20px;
    font-size: 25px;
}
.data{
    display: flex;
    margin-right: 30px;
    font-size: 20px;
    color:#907725;
}
.github{
    position: absolute;
    left: 50%;
    border-radius: 50%;
    transition: 0.2s;
}
.github img:hover{
    transition: 0.3s;
    margin-top: 1px;
    width: 55px;
    height: 55px;
}
.github:hover{
    background-color: #572c23;
}